/*
 * Author: Anupam Samanta
 * Github: https://github.com/Anupam96786
 */

$elements: 5;     // number of loader elements
$radius: 50px;    // radius of the loader circle
$size: 15px;      // size of each loader element
$color: #a4acb0;  // color of each loader element