/*
 * Author: Anupam Samanta
 * Github: https://github.com/Anupam96786
 */

@import "variables";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: translateX(50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(50%) translateY(-50%) rotate(360deg);
  }
}

.loader .element {
  position: absolute;
  height: $radius;
  width: $radius;
  transform-origin: bottom left;
  animation: rotate 2s infinite; // animation speed
}

@for $i from 0 to $elements {
  .loader .element:nth-child(#{$i}) {
    animation-delay: #{$i * 200}ms; // delay of each element
  }
}

.loader .element:before {
  content: "";
  display: block;
  height: $size;
  width: $size;
  background-color: $color;
  border-radius: 50%;
}